body{
  font-size: sans-serif;
  /* position: fixed; */
  height: 100%;
  width: 100%;
  background: url(/assets/flight4.jpg) no-repeat center center fixed;
  background-size:cover ;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  }
  h3{
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    position: initial;
    border-bottom: dotted;
    display: inline;

  }
  .thirteen{

    border: 1px solid  rgba(248, 231, 80, 0.74);
    border-width: 1.25px;
    border-style: solid;
  }
  th{
    /* background-color: rgba(80, 229, 240, 0.493); */
    background-color:  rgba(245, 232, 114, 0.74);
  }
  td{
    background-color:  rgba(245, 232, 114, 0.74);
  }