body{
  font-size: sans-serif;
  /* position: fixed; */
  height: 100%;
  width: 100%;
  background: url(/assets/flight4.jpg) no-repeat center center fixed;
  background-size:cover ;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  }
  .seventeen{

    border: 3px solid #40ecf1;
    width: 300px;
    font-size: 20px;
    padding: 2.5px 2px;
    margin: 1px 5px;
    position: initial;
  }
  .eighteen{

    position: absolute;
    padding: 8px;
  }
  h3{
    margin-left: 6px;
    font-style: normal;
    text-align: left;
    position: inherit;
    border-bottom: dotted;
    display: inline;
  }