<body>
    <br>
    <br>
    <br><br><br>
    <div class="two">
<a routerLink="/addflight"><button class="btn btn-primary">Add Flight</button></a><br><br>
<a routerLink="/viewflight"><button class="btn btn-primary">View Flights</button></a><br><br>
<a routerLink="/searchflight"><button class="btn btn-primary">Search Flight</button></a><br><br>
<a routerLink="/deleteflight"><button class="btn btn-primary">Delete Flight</button></a><br><br>
<a routerLink="/updateflight"><button class="btn btn-primary">Update Flight</button></a><br><br>
</div>
<router-outlet></router-outlet>

</body>